.desktop{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
main{
    float: left;
    width: 70%;
    padding: 20px;
    margin: 20px;
    text-align: justify;
}
h1{
    color: brown;
    text-align: center;
    font-size: 24;
}

.sidebar{
    float: left;
    width: 20%;
    height: 400px;
    background: yellow;
    border: 2px solid sandybrown;

}